body { 
    font-family: serif; 
    background-image: url("splashpagebg.png");
    background-color: #e6dff0;
}

body {
    background-image: url("digmethodsfem/docs/images/splashpagebg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
  display: flex; /* Makes the navbar a flex container */
  justify-content: center; /* Centers items horizontally within the navbar */
  align-items: center; /* Centers items vertically within the navbar (if the navbar has a defined height) */
  background-color: #333; /* Example background color */
  padding: 10px;
}

.nav-links {
  list-style: none; 
  padding: 0;
  margin: 0;
  display: flex; 
  gap: 15px;
}