body { 
    font-family: serif; 
    background-image: url("splashpagebg.png");
    background-color: #cccccc;
}

h1 {
    background-image: url("splashpagebg.png");
}
p {
    background-image: url("splashpagebg.png");
}
